.event-day {
  h2 {
    display: block;
    background: black;
    color: white;
    margin: 0;
    padding: .5em .1em;
    text-align: center;
  }

  margin-bottom: 10vh;
}

.event-divider {
  border-top: 2px solid #ededed;
  width: 100%;
}

.row {
  font-size: 26px;
}
