.event-day {
  padding:1em;

  h3 {
    display: block;
    background: black;
    color: white;
    margin: 0;
    padding: 1em;
  }

  &.is-today {
    border-bottom: 2px solid red;
  }
}
.text-right { text-align: right; }

.info-sponsor-img {
  img {
    width: 64px;
    height: 64px;
  }
}

.row {
  font-size: 26px;
}

.details .row {
  font-size: 18px;
}
