.event-day {
  padding:1em;
  color: white;
  background: black;
}

.row {
  font-size: 48px;

  .event-header {
    margin-top: 1em;
  }

  .info-sponsor-img {
    img {
      width: 64px;
      height: 64px;
    }
  }
}
